<div class="container" style="padding: 10px;align-self: center">
    <div class="jumbotron"
        style="background-image: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);margin-top: 30px;margin-left: 100px;margin-right: 100px; padding: 200px;image-resolution: inherit">

        <h1 style="color: rgb(59, 2, 29);text-align: center">Hello !!!</h1>
        <h2 style="color: rgb(59, 2, 29);text-align: center"> Welcome to My PortFolio </h2>
        <p style="color: rgb(59, 2, 29);text-align: center">Easy way to create your amazing portfolio...</p>
    </div>
</div>

<br> <br>

    <h2 style="text-align:center">Select Portfolio Type</h2>



<div class="container text-center my-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="https://media.istockphoto.com/photos/businessman-using-a-computer-to-concept-of-fund-financial-investment-picture-id1360521209?b=1&k=20&m=1360521209&s=170667a&w=0&h=GcwijqRDOroH5-hQdZ--ksLgOjCMuq1kqZRP30kSZKA=" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>General Portfolio</h2>
            <p>General portfolio means invested assets (including cash and cash equivalents, short-term securities, bonds or other fixed income securities and preferred shares) excluding the government guarantee fund.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://media.istockphoto.com/photos/businessman-draws-increase-arrow-graph-corporate-future-growth-year-picture-id1333810802?b=1&k=20&m=1333810802&s=170667a&w=0&h=xGeydMpkTI42HVNQppcN4nYPES-5GyTh9oCd7mZwWU8=" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>Corporate Portfolio</h2>
            <p>A corporate portfolio is the collection of products and services a business offers. While it's often used to describe the assets of companies with more than one product or service can benefit from them.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://i.pinimg.com/originals/b4/93/9e/b4939e93d18ff65cfdd8b8baf148989d.gif" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>Designer Portfolio</h2>
            <p>A design portfolio is a body of work that represents your work as a designer. A design portfolio should be used to showcase your best work that you can share to potential employers,or anyone who is interested.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>


