
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-justified" style="padding-top: 30px; padding-bottom: 30px;">
  <a class="navbar-brand" href="#">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Aadhaar_Logo.svg/1200px-Aadhaar_Logo.svg.png" alt="" width="100%" height="40">
  </a>
<b> <a class="navbar-brand text-white" href="#">m-Aadhar</a> </b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
   <form class="form-inline my-2 my-lg-0">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Contact Us</button>
   </form>
 </div>
</nav>


<router-outlet></router-outlet>

<!--Footer-->
<footer class="bg-dark text-center text-lg-start" style="position: absolute; bottom: 0; width: 100%;">
  <!-- Copyright -->
  <div class="text-center p-3 text-white">
    © 2022 Copyright, Developed By: Lokesh Rayala
  </div>
  <!-- Copyright -->
</footer>