<div class="fluid-container text-center p-5 ">
   
    <h1>Welcome to  m-Aadhar Services</h1>
    <div class="row">
      <div class="col">
        <img src="https://i.pinimg.com/originals/aa/34/53/aa34538b884a1103e9cf82bbd52cfad7.jpg" class="img-fluid" alt="...">
      </div>

      <div class="col">
        <br><br><br><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-primary  btn-lg rounded" routerLink="admin" data-toggle="modal">ADMIN LOGIN</button>
        </div>
        <br><br><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-primary  btn-lg rounded"  routerLink="user" data-toggle="modal">USER LOGIN</button>
        </div>
      </div>
    </div>
  </div>
 
