 <div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!isBookAdded">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" required [(ngModel)]="user.name" name="email"/>
        </div>

        <div class="form-group">
            <label for="dob">Date of birth</label>
            <input class="form-control" id="name" required [(ngModel)]="user.dob" name="dob"/>
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input class="form-control" id="name" required [(ngModel)]="user.address" name="address" />
          </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" id="email" required [(ngModel)]="user.email" name="email" />
        </div>

        <div class="form-group">
            <label for="mobile">Mobile</label>
            <input class="form-control" id="name" required [(ngModel)]="user.mobile" name="mobile"/>
          </div>
  
        <div class="form-group">
            <label for="gender">Gender</label>
            <input class="form-control" id="country" required [(ngModel)]="user.gender" name="gender" />
          </div>
        <button (click)="addBook()" class="btn btn-success">Apply</button>
      </div>
  
      <div *ngIf="isBookAdded">
        <h3>Aadhar Card Applied successfully !!!</h3>

      </div>
    </div>
  </div>
